/* BASE */
body {
  font: 16px/1em "Lato", "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  font-weight: normal;
  background-color: #161616;
  color: #bababa;
  background: transparent url(../images/trama.gif) repeat;
  -webkit-font-smoothing: antialiased;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1.page-title {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: dotted 1px #b40818;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  color: #fff;
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 300;
  margin-left: 10px !important;
  margin-right: 10px !important;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

h4,
h5,
h6 {
  font-size: 1.2em;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
 
ul.breadcrumb {
  margin: 10px;
  text-align: right;
}

ul.breadcrumb li {
  display: inline-block;
  font-size: 0.8em;
  color: #333333;
  margin-right: 4px;
}

ul.breadcrumb li:last-child:after {
  content: "";
}

ul.breadcrumb li:after {
  content: " >";
}

ul.breadcrumb li a {
  color: #333333;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #b40818;
  text-decoration: underline;
}

.grid-5 img, .grid-10 img, .grid-15 img, .grid-20 img, .grid-25 img, .grid-30 img, .grid-35 img, .grid-40 img, .grid-45 img, .grid-50 img, .grid-55 img, .grid-60 img, .grid-65 img, .grid-70 img, .grid-75 img, .grid-80 img, .grid-85 img, .grid-90 img, .grid-95 img, .grid-100 img, .grid-33 img, .grid-66 img {
  max-width: 100%;
  height: auto !important;
}


/* GLOBAL */
.full-width {
	background-color: #000000;
	padding: 2% 0;
}


/* HEADER */
header {
        padding: 15px 0;
        background: #000;
        margin-bottom: 20px;
}

.front header {
	margin-bottom: 0;
}

.search-bar {
        margin-bottom: 4px;
}

.search-bar .views-exposed-widgets {
        float: right;
        border-bottom: 1px solid #535353;
        padding-bottom: 5px;
}

.search-bar .views-exposed-widgets .views-exposed-widget label {
        display: none;
}

.search-bar input.form-text {
        background: #000;
        border: none;
        color: #555555;
        font-family: 'Oxygen';
        font-size: 12px;
        margin-top: 5px;
}

.search-bar input[placeholder],
.search-bar ::-webkit-input-placeholder {
    color: #555555;
}

.search-bar .views-exposed-form .views-exposed-widget {
        padding: 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
        margin-top: 0;
        background: url(../images/search-button.jpg);
        font-size: 0;
        width: 27px;
        height: 25px;
        border: none;
}

.menu {
        margin: 5px 0 0;
        text-align: right;
}

.menu li {
        display: inline-block;
        font-family: helvetica, Arial;
        text-transform: uppercase;
        margin-left: 20px;
}

.menu li a {
        color: #bababa;
        font-family: 'Oswald';
        font-weight: 300;
        font-size: 18px;
}

.menu li a:hover {
    color: #fff;
    text-decoration: none;
}

footer .menu {
  margin: 0;
}

footer .menu li a {
  font-size: 14px;
}

.menu .leaf {
        list-style-image: none;
        list-style-type: none;
}


/* FOOTER */
footer {
    border-top: 1px solid #FCC900;
}

.front footer {
        margin-top: 0;
}

.footer-menu {
        background: #161616;
        padding: 20px 0;
}

.footer-menu .menu {
        text-align: center;
        margin-bottom: 0;
}

.footer-menu .menu li {
        font-size: 12px;
}

.footer-copyright {
        background: #000;
        padding: 20px 0;
        text-align: center;
}

.footer-copyright p {
        font-size: 11px;
}

.footer-copyright img {
        float: none !important;
}



/* WIDGET LINK */
.pane-bundle-widget-link .link-item {
	position: relative;
}

.pane-bundle-widget-link .link-item .title {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  padding: 8% 0;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  color: #eeeeee;
  line-height: normal;
  border-top-width: 0;
  border-top-style: solid;
  border-top-color: #ccf700;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkMmQyZCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJkMmQyZCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(45,45,45,0.8) 0%, rgba(45,45,45,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,0.8)), color-stop(100%,rgba(45,45,45,0.8)));
  background: -webkit-linear-gradient(top,  rgba(45,45,45,0.8) 0%,rgba(45,45,45,0.8) 100%);
  background: -o-linear-gradient(top,  rgba(45,45,45,0.8) 0%,rgba(45,45,45,0.8) 100%);
  background: -ms-linear-gradient(top,  rgba(45,45,45,0.8) 0%,rgba(45,45,45,0.8) 100%);
  background: linear-gradient(to bottom,  rgba(45,45,45,0.8) 0%,rgba(45,45,45,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2d2d2d', endColorstr='#cc2d2d2d',GradientType=0 );
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.pane-bundle-widget-link .link-item:hover .title {
  padding: 12% 0 10% 0;
  color: #ffffff;
  border-top-width: 8px;
  border-top: 1px solid #ffc700;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  pointer-events: none;
}

/* QUIENES SOMOS */

.pane-page-title {
    max-width: 1200px;
    margin: 20px auto 10px;
}

.pane-page-title h1 {
    color: #fff;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 36px;
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: -10px;
    padding-bottom: 20px
}

.widget-text p {
    line-height: 25px;
    color: #bababa;
    font-family: 'Oxygen';
    font-weight: 300;
    font-size: 15px;
}

.widget-text p + p {
  margin-top: 20px;
}

.widget-text p + h2 {
    margin-top: 30px !important;
}

.widget-text h2 {
    color: #fff;
    margin: 10px 0 !important;
    padding: 0;
    font-size: 24px;
}

.pane-bundle-widget-profile {
    background: #000;
    padding-bottom: 1px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.pane-bundle-widget-profile img,
.pane-bundle-widget-image img {
    width: 100%;
}

.pane-bundle-widget-profile img {
    height: 200px !important;
}

.pane-bundle-widget-image img {
    height: 160px !important;
}

.pane-bundle-widget-itemslist {
    margin-top: 30px;
}

.pane-bundle-widget-itemslist article {
    margin-bottom: 30px;
}

.pane-bundle-widget-itemslist article a {
    background-color: #000;
    display: block;
    position: relative;
    text-decoration: none;
}

.pane-bundle-widget-profile h2,
.pane-bundle-widget-itemslist h1 {
    font-family: 'Oswald';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    color: #ffc700;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.pane-bundle-widget-itemslist h1 {
    padding-top: 0;
    padding-left: 15px;
    text-decoration: none;
}

.pane-bundle-widget-profile h3,
.pane-bundle-widget-profile p,
.pane-bundle-widget-itemslist p {
    font-family: 'Oswald';
    font-size: 24px;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    font-weight: normal;
}

.pane-bundle-widget-profile h3 {
    color: #bababa;
    padding-top: 30px;
}

.pane-bundle-widget-profile p,
.pane-bundle-widget-itemslist p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}

.pane-bundle-widget-itemslist p {
    margin: 0;
    padding: 10px 10px 30px 15px;
    text-decoration: none;
}

.pane-bundle-widget-itemslist img {
    height: 200px !important;
}

.pane-bundle-widget-itemslist span.label {
    height: 40px;
    width: 140px;
    background-color: #799f28;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Oxygen';
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.pane-bundle-widget-profile p:last-child {
  margin-bottom: 30px;
}

.pane-bundle-widget-image {
    margin-top: 40px;
}

.pane-bundle-widget-image a {
    display: block;
    margin-bottom: 20px;
}

.pane-bundle-widget-image a:last-child {
    margin-bottom: 0;
}

.pane-bundle-widget-image a:last-child {
    margin-bottom: 0;
}


/* SLIDER */

.pane-bundle-widget-slider {
    margin-top: -40px;
}

.flexslider {
    overflow: hidden;
    position: relative;
}

.slider-container {
  overflow: hidden;
  position: relative;
}

.slider-text {
  bottom: 50px;
  left: 80px;
  position: absolute;
}
  
    .slider-text h2 {
        margin: 0 !important;
        padding: 0;
    }

    .slider-text h2 + p {
        margin-top: 20px;
    }

    .slider-text .description {
      color: #ffc700;
      font-family: 'Oxygen';
      font-size: 20px;
      font-weight: 300;
      text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
    }

.flex-direction-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.flex-direction-nav a {}

.flex-prev,
.flex-next {
    height: 75px;
    position: absolute;
    width: 75px;
}

.flex-prev {
    background: transparent url(../images/flecha-izq.png) repeat;
    left: 0;
}

.flex-next {
    background: transparent url(../images/flecha-der.png) repeat;
    right: 0;
}









.panel-pane.pane-page-breadcrumb {
  display: none;
}


/* CONTACTO */

.section-contacto .pane-node-webform {
  
}

.section-contacto .pane-node-webform p {

}

.section-contacto .pane-node-webform label {
  display: none;
}

.section-contacto .pane-node-webform input {
  background-color: #000000;
  border: none;
  height: 30px;
  position: relative;
  width: 100%;
}

.section-contacto .pane-node-webform textarea {
  background-color: #000000;
  border: none;
  position: relative;
  width: 100%;
}

.section-contacto .pane-node-webform input[placeholder],
.section-contacto .pane-node-webform textarea {
  -webkit-font-smoothing: antialiased;
  color: #bababa;
  font-weight: normal;
  padding-left: 10px;
}

.section-contacto .pane-node-webform input[placeholder="Mensaje *"] {
  color: #bababa;
  height: 85px;
}

.section-contacto .pane-node-webform input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #999999;
  text-transform: uppercase;
  width: auto;
}

.section-contacto .webform-component-textfield {
  margin-top: 20px;
}

.section-contacto .webform-component + .webform-component {
  margin-top: -5px;
}

.section-contacto .widget-text {
  padding-top: 17px;
  padding-left: 55px;
}

.section-contacto .widget-text p + p {
  margin-top: 9px;
}

.section-contacto .widget-text .direction {
  font-size: 14px;
}

.section-contacto .pane-node-body,
.section-contacto .pane-node-webform {
  margin-left: -5px;
}

.section-contacto .pane-bundle-widget-text {
  width: 360px;
}

.section-contacto .pane-bundle-widget-map {
  width: 380px;
}

.section-contacto .pane-bundle-widget-text {
  background: transparent url(../images/logos-contacto.jpg) no-repeat;
  height: 120px;
  margin-left: 10px;
}

.section-contacto .pane-1 {
  background: #000 url(/~digesapr/sites/all/themes/digesa_theme/images/smartphone.jpg) no-repeat;
  float: right;
  height: 120px;
  padding: 42px 0 0;
  width: 210px;
}

.section-contacto .pane-1 a {
  background-color: #000;
  color: #bababa;
  display: block;
  font-family: 'Oxygen', Arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 0 35px 50px;
}

.section-contacto .pane-node-webform .captcha img {
  display: inline-block;
  float: left;
}

.section-contacto .pane-node-webform .form-item-captcha-response {
  float: left;
  margin: 0 10px;
  overflow: hidden;
  width: 100px;
}

.section-contacto .pane-node-webform .form-item-captcha-response input {
  float: left;
  height: 38px;
  overflow: hidden;
}

.section-contacto .pane-node-webform .form-item-captcha-response .description {
  display: none;
}

.section-contacto .pane-node-webform .form-actions input {
  height: 38px;
}

/* INTERNA */

.pane-bundle-widget-info {
  background-color: #000000;
  height: 150px;
  margin: 0;
  padding: 0;
}

.pane-bundle-widget-info h2 {
  color: #ffc700;
  margin: 0;
  padding: 10px 0 0 0;
}

.pane-bundle-widget-info h3 {
  margin-left: 0 !important;
}

.section-ventas-y-alquileres .pane-bundle-widget-slider,
.section-obras .pane-bundle-widget-slider,
.section-proyectos-futuros .pane-bundle-widget-slider {
  margin-top: 30px;
}

.section-ventas-y-alquileres label,
.section-obras label,
.section-proyectos-futuros label {
  display: none;
}

.section-ventas-y-alquileres .pane-bundle-widget-form input[placeholder],
.section-obras .pane-bundle-widget-form input[placeholder],
.section-proyectos-futuros .pane-bundle-widget-form input[placeholder],
.section-ventas-y-alquileres .pane-bundle-widget-form textarea,
.section-obras .pane-bundle-widget-form textarea,
.section-proyectos-futuros .pane-bundle-widget-form textarea {
  background-color: #000;
  border: none;
  color: #bababa;
  font-family: 'Oxygen', Arial;
  font-size: 15px;
  font-weight: 300;
  padding: 5px;
}

.section-ventas-y-alquileres .pane-bundle-widget-form .form-item,
.section-obras .pane-bundle-widget-form .form-item,
.section-proyectos-futuros .pane-bundle-widget-form .form-item {
  margin-bottom: 10px;
}

.section-ventas-y-alquileres .pane-bundle-widget-form .webform-component-textarea,
.section-obras .pane-bundle-widget-form .webform-component-textarea,
.section-proyectos-futuros .pane-bundle-widget-form .webform-component-textarea {

} 

.section-ventas-y-alquileres .pane-bundle-widget-form h2,
.section-obras .pane-bundle-widget-form h2,
.section-proyectos-futuros .pane-bundle-widget-form h2 {
  margin: 30px 0;
  margin-left: 0 !important;
  padding: 0;
}

.section-ventas-y-alquileres .pane-bundle-widget-slider .flex-prev,
.section-obras .pane-bundle-widget-slider .flex-prev,
.section-proyectos-futuros .pane-bundle-widget-slider .flex-prev,
.section-ventas-y-alquileres .pane-bundle-widget-slider .flex-next,
.section-obras .pane-bundle-widget-slider .flex-prev,
.section-proyectos-futuros .pane-bundle-widget-slider .flex-prev {
  font-size: 1px;
  text-indent: 10000px;
}





















